@model IEnumerable<web_mvc.Models.AnimalDto>
@{
    ViewData["Title"] = "Listagem de Animais";
}
<h1>@ViewData["Title"]</h1>
<p><a asp-action="Create" class="btn btn-primary">Novo Animal</a></p>
<table class="table">
    <thead><tr><th>Nome</th><th>Espécie</th><th>Ações</th></tr></thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Nome</td>
                <td>@a.Especie</td>
                <td>
                    <a asp-action="Details" asp-route-id="@a.Id">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@a.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@a.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>